body
{
    height: 100vh;
    background-image: url('../../ludo\ images/Background/traditional ludo image background with Indian touch 2.png');  
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* Interrupt logic */
.interrupt
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.576);
    z-index: 999;
    display: flex;
    justify-content: center;
    visibility: hidden;
    align-items: center;
    /* animation-name: appear;
    animation-duration: 1s;
    animation-delay: 0.5s; */
}

div#interrupt-box
{
    height: 50%;
    width: 50%;
    background: rgb(212, 221, 168);
    background: linear-gradient(90deg, rgba(212, 221, 168, 1) 0%, rgba(228, 155, 36, 1) 100%);
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#interrupt-box > h2{
    font-size: 7vh;
}

div.color-pallete
{
    height: 40%; 
    width: 80%;
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 10%;
    display: flex;
    justify-content: space-around;
}

.color-pallete > .color-box
{
    height: 80%;
    width: 20%;
    border-radius: 20%;
    border: solid white;
    margin-top: 2.4%;
}

.color-pallete>.red
{
    background-image: url('../../ludo\ images/Player Beads/red bead.png'), none;
    background-size: 100% 100%,100% 100%;
    background-repeat: no-repeat,no-repeat;
    background-position: center,center;
    transition: background-size 0.5s ease-in-out, background-image 0.5s ease-in-out;
}

.color-pallete>.red:hover
{
    background-image:  url('../../ludo\ images/Player Beads/red bead.png'), url('../../ludo\ images/Home-Backgrounds/red-back.png');
    background-size: 50% 50%, 100% 100%;
    /* background-blend-mode: screen; */
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}


.color-pallete>.blue
{
    background-image: url('../../ludo\ images/Player Beads/blue bead.png'), none;
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    transition: background-size 0.5s ease-in-out, background-image 0.5s ease-in-out, background-blen-mode 0.5s ease-in-out;
}

.color-pallete>.blue:hover
{
    background-image: url('../../ludo\ images/Player Beads/blue bead.png'), url('../../ludo\ images/Home-Backgrounds/blue-back.png');
    background-size: 50% 50%, 100% 100%;
    /* background-blend-mode: screen; */
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}

.color-pallete>.green
{
    background-image: url('../../ludo\ images/Player Beads/green bead.png'), none;
    background-size: 100% 91%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    transition: background-size 0.5s ease-in-out, background-image 0.5s ease-in-out, background-blen-mode 0.5s ease-in-out;
}

.color-pallete>.green:hover
{
    background-image: url('../../ludo\ images/Player Beads/green bead.png'), url('../../ludo\ images/Home-Backgrounds/green-back.png');
    background-size: 50% 50%, 100% 100%;
    /* background-blend-mode: screen; */
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}

.color-pallete>.yellow
{
    background-image: url('../../ludo\ images/Player Beads/yellow bead.png'),none;
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    transition: background-size 0.5s ease-in-out, background-image 0.5s ease-in-out, background-blen-mode 0.5s ease-in-out;
}

.color-pallete>.yellow:hover
{
    background-image: url('../../ludo\ images/Player Beads/yellow bead.png'), url('../../ludo\ images/Home-Backgrounds/yellow-back.png');
    background-size: 50% 50%, 100% 100%;
    /* background-blend-mode: screen; */
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.2;
}







/* Main box CSS */
#main-box
{
    /* filter: blur(0px); */
    display: grid;
    height: 97vh;
    width: 98%;
    margin-top: 0.5vh;
    grid-template: 1fr 1fr 0.9fr / 1fr 0.23fr;
}


/* Dice CSS */
div > #dicee
{
    grid-row: span 2;
    background-color: rgb(191, 191, 191);
    border-radius: 50%;
    margin-top: 10%;
    background-image: url('../../ludo\ images/Main Dice/Dice.png');
    background-size: 130% 110%;
    background-repeat: no-repeat; 
    background-position: center;
    border: solid black;
    border-width: 0.5vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    animation-name: appear;
    animation-duration: 1s;
}

div > .dice-numbers
{
    background-color: transparent;
    /* height: 48.2%;
    width: 47%;
    margin-bottom: 1.43%;
    margin-left: 9%; */
    height: 50%;
    width: 50%;
    margin-top: 14%;
    margin-left: 2%;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
    
}

div>.bead_1 {
    margin: 69% 20%;
    grid-row: span 3;
    grid-column: span 2;
    background-image: url('../../ludo\ images/Dice Beads/Bead 1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div>.bead_2 {
    grid-row: span 3;
    grid-column: span 2;
    background-image: url('../../ludo\ images/Dice Beads/Bead 2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div>.bead_3 {
    grid-row: span 3;
    grid-column: span 2;
    background-image: url('../../ludo\ images/Dice Beads/Bead 3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div>.bead_4 {
    grid-row: span 3;
    grid-column: span 2;
    margin-top: 20%;
    background-image: url('../../ludo\ images/Dice Beads/Bead 4.jpg');
    background-size: 100% 90%;
    background-repeat: no-repeat;
}

div>.bead_5 {
    grid-row: span 3;
    margin-top: 10%;
    grid-column: span 2;
    background-image: url('../../ludo\ images/Dice Beads/Bead 5.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div>.bead_6 {
    grid-row: span 3;
    grid-column: span 2;
    background-image: url('../../ludo\ images/Dice Beads/Bead 6.jpg');
    margin-bottom: 10%;
    margin-right: 3%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* Play button CSS */
div > #play-button
{
    background-color: transparent;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    display: none;
}

button#play
{
    height: 10vh;
    width: 60%;
    border-radius: 20%;
    margin-top: 20%;
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-size: 2.9vh;
}

button.play_butt
{
    height: 10vh;
    width: 60%;
    border-radius: 20%;
    margin-top: 20%;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.553);
}

button#play:hover
{
    background: linear-gradient(90deg, rgba(154, 222, 194, 1) 0%, rgba(238, 152, 12, 1) 100%);
}




/* Ludo game CSS */
div>#game-ludo {
    grid-row: span 3;
    background-color: whitesmoke;
    background-image: url('../../ludo\ images/Background/back.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 15%;
    border: solid rgb(209, 101, 13) 1vh;
    margin: 1%;
    margin-right: 6%;
    margin-left: 2%;
    display: grid;
    grid-template: 1fr 0.6fr 1fr / 1fr 0.7fr 1fr;
}

div.base
{
    /* display: flex; */
    background-color: rgba(255, 255, 255, 0.666);
    /* border-top-left-radius: 40%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* div.B_blue
{
    
} */

div#B-home
{
    height: 90%;
    width: 80%;
    border-radius: 50%;
    border: solid black;
    display: grid;
    row-gap: 4%;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

div.B-indexes
{
    display: flex;
    justify-content: center;
    /* border: solid black; */
}

div#b-1
{
    height: 60%;
    width: 60%;
    margin-bottom: 1%;
    margin-left: 17%;
    border: solid black;
    border-radius: 50%;
    align-self: flex-end;
}


div#b-2
{
    height: 60%;
    width: 60%;
    margin-bottom: 1%;
    margin-right: 17%;
    border: solid black;
    border-radius: 50%;
    align-self: flex-end;
}

div#b-3
{
    height: 60%;
    width: 60%;
    margin-top: 1%;
    margin-left: 17%;
    border: solid black;
    border-radius: 50%;
    align-self: flex-start;
}

div#b-4
{
    height: 60%;
    width: 60%;
    margin-top: 1%;
    margin-right: 17%;
    border: solid black;
    border-radius: 50%;
    align-self: flex-start;
}

div.base_blue
{
    background-image: url('../../ludo\ images/Home-Backgrounds/blue-back.png');
        background-size: 100% 100%;
    border-top-left-radius: 37%;
    border-bottom-right-radius: 37%;
}
div.base_red
{
    background-image: url('../../ludo\ images/Home-Backgrounds/red-back.png');
    background-size: 100% 100%;
    border-top-right-radius: 37%;
    border-bottom-left-radius: 37%;
}

div.base_green
{
    background-image: url('../../ludo\ images/Home-Backgrounds/green-back.png');
    background-size: 100% 100%;
    border-bottom-left-radius: 37%;
    border-top-right-radius: 37%;
}
div.base_yellow
{
    background-image: url('../../ludo\ images/Home-Backgrounds/yellow-back.png');
    background-size: 100% 100%;
    border-bottom-right-radius: 37%;
    border-top-left-radius: 37%;
}

div.B_red
{
    background-color: rgba(193, 13, 13, 0.723);
}

.red-base
{
    background-image: url('../../ludo\ images/base X/red-base-X.png');
    background-color: rgba(150, 42, 42, 0.336);
    background-size: 90% 90%;
    background-position: center;
}

.blue-base
{
    background-image: url('../../ludo\ images/base X/blue-base-X.png');
    background-color: rgba(42, 78, 150, 0.336);
    background-size: 90% 90%;
    background-position: center;
}

.yellow-base
{
    background-image: url('../../ludo\ images/base X/yellow-base-X.png');
    background-color: rgba(150, 136, 42, 0.336);
    background-size: 90% 90%;
    background-position: center;
}

.green-base
{
    background-image: url('../../ludo\ images/base X/green-base-X.png');
    background-color: rgba(44, 150, 42, 0.336);
    background-size: 90% 90%;
    background-position: center;
}

div.B_blue
{
    background-color: rgba(11, 107, 198, 0.723);
}

div.B_yellow
{
    background-color: rgba(217, 138, 27, 0.723);
}

div.B_green
{
    background-color: rgba(0, 128, 0, 0.723);
}




/* Vertical path CSS */
div.grid-v
{
    display: grid;
    grid-template: repeat(6,1fr) / repeat(3,1fr);
    row-gap: 1.5%;
    column-gap: 9%;
    margin-top: 1.5%;
    margin-bottom: 1%;
    padding: 0% 8%;
}

div.grid-v.down
{
    margin-top: 1%;
    margin-bottom: 0%;
}

div.g-v-up
{
    border: solid rgb(141, 73, 1) 0.45vh;
    border-radius: 50%;
}

div.v-safe-r
{
    border: solid rgb(117, 0, 0);
    border-radius: 50%;
}

div.g-v-down {
    border: solid rgb(141, 73, 1) 0.45vh;
    border-radius: 50%;
}

div.v-safe {
    border: solid black;
    grid-row: span 5;
    border-radius: 10%;
    display: grid;
    grid-template: repeat(5, 1fr)/1fr;
    gap: 2%;
    padding: 5%;
}

div.red-safe {
    border: solid rgb(117, 0, 0);
    background-color: rgba(193, 13, 13, 0.431);
}   

div.v-safe-g {
    border: solid rgb(1, 74, 1);
    border-radius: 50%;
}

div.green-safe {
    border: solid rgb(1, 74, 1);
    background-color: rgba(0, 128, 0, 0.431);
}

div.grid-h {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(6, 1fr);
    gap: 3%;
    row-gap: 5%;
    margin-top: 1%;
    padding: 2%;
}

div.g-h-left {
    border: solid rgb(141, 73, 1) 0.45vh;
    border-radius: 50%;
}

div.blue-safe {
    border: solid rgb(3, 42, 79);
    background-color: rgba(11, 107, 198, 0.723);
}

div.h-safe-b {
    border: solid rgb(3, 42, 79);
    border-radius: 50%;
}

div.g-h-right {
    border: solid rgb(141, 73, 1) 0.45vh;
    border-radius: 50%;
}

div.h-safe {
    grid-column: span 5;
    border-radius: 10%;
    display: grid;
    grid-template: 1fr/repeat(5, 1fr);
    gap:5%;
    padding: 0.5% 2%;
}

div.yellow-safe {
    border: solid rgb(117, 75, 1);
    background-color: rgba(217, 138, 27, 0.723);
}

div.h-safe-y {
    border: solid rgba(121, 78, 3, 0.982);
    border-radius: 50%;
}

.start-red
{
    background-image: url('../../ludo\ images/Start Arrows/arrow-down.png');
    background-size: 100% 150% ;
    background-position: 40% 55%;
    background-repeat: no-repeat;
    background-color: rgba(193, 13, 13, 0.431);
}

.start-blue
{
    background-image: url('../../ludo\ images/Start Arrows/arrow-blue.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(11, 108, 198, 0.431);
}

.start-green
{
    background-image: url('../../ludo\ images/Start Arrows/green-arrow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 128, 0, 0.418);
}

.start-yellow
{
    background-image: url('../../ludo\ images/Start Arrows/arrow-yellow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(217, 138, 27, 0.723);
}

.red-star
{
    background-image: url('../../ludo\ images/Safe Stars/red-star.png');
    background-size: 100% 100%;
    background-color: aliceblue;
}

.green-star
{
    background-image: url('../../ludo\ images/Safe Stars/green-star.png');
    background-size: 100% 100%;
    background-color: aliceblue;
}

.yellow-star
{
    background-image: url('../../ludo\ images/Safe Stars/yellow-star.png');
    background-size: 100% 100%;
    background-color: aliceblue;
}

.blue-star
{
    background-image: url('../../ludo\ images/Safe Stars/blue-star.png');
    background-size: 100% 100%;
    background-color: aliceblue;
}








/* Beads motion CSS */
div.red-01
{
    background-image: url('../../ludo\ images/Player Beads/red bead.png');
    background-size: 100% 100%;
    animation-name: appear;
    animation-duration: 1s;
}

div.red-02
{
    background-image: url('../../ludo\ images/Player Beads/red bead.png');
    background-size: 100% 100%;
    animation-name: appear;
    animation-duration: 1s;
}

div.red-03
{
    background-image: url('../../ludo\ images/Player Beads/red bead.png');
    background-size: 100% 100%;
    animation-name: appear;
    animation-duration: 1s;
}

div.red-04
{
    background-image: url('../../ludo\ images/Player Beads/red bead.png');
    background-size: 100% 100%;
    animation-name: appear;
    animation-duration: 1s;
}

div.yellow-01
{
    background-image: url('../../ludo\ images/Player Beads/yellow bead.png');
    background-size: 100% 100%;
    animation-name: appear;
    animation-duration: 1s;
}

div.yellow-02
{
    background-image: url('../../ludo\ images/Player Beads/yellow bead.png');
    background-size: 100% 100%;
    animation-name: appear;
    animation-duration: 1s;
}

div.yellow-03
{
    background-image: url('../../ludo\ images/Player Beads/yellow bead.png');
    background-size: 100% 100%;
    animation-name: appear;
    animation-duration: 1s;
}

div.yellow-04
{
    background-image: url('../../ludo\ images/Player Beads/yellow bead.png');
    background-size: 100% 100%;
    animation-name: appear;
    animation-duration: 1s;
}

div.green-01
{
    background-image: url('../../ludo\ images/Player Beads/green bead.png');
    background-size: 100% 100%;
    animation-name: appear;
    animation-duration: 1s;
}

div.green-02
{
    background-image: url('../../ludo\ images/Player Beads/green bead.png');
    background-size: 100% 100%;
    animation-name: appear;
    animation-duration: 1s;
}

div.green-03
{
    background-image: url('../../ludo\ images/Player Beads/green bead.png');
    background-size: 100% 100%;
    animation-name: appear;
    animation-duration: 1s;
}

div.green-04
{
    background-image: url('../../ludo\ images/Player Beads/green bead.png');
    background-size: 100% 100%;
    animation-name: appear;
    animation-duration: 1s;
}

div.blue-01
{
    background-image: url('../../ludo\ images/Player Beads/blue bead.png');
    background-size: 100% 100%;
    animation-name: appear;
    animation-duration: 1s;
}

div.blue-02
{
    background-image: url('../../ludo\ images/Player Beads/blue bead.png');
    background-size: 100% 100%;
    animation-name: appear;
    animation-duration: 1s;
}

div.blue-03
{
    background-image: url('../../ludo\ images/Player Beads/blue bead.png');
    background-size: 100% 100%;
    animation-name: appear;
    animation-duration: 1s;
}

div.blue-04
{
    background-image: url('../../ludo\ images/Player Beads/blue bead.png');
    background-size: 100% 100%;
    animation-name: appear;
    animation-duration: 1s;
}















/* Main game center CSS */
.Center
{
    background-image: url('../../ludo\ images/Center/center.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: solid black;
    border-radius: 50%;
}

.center-DOM
{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.787);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.center-DOM > h2
{
    margin-top: 15%;
    font-size: 2.8vh;
    text-align: center;
    color: rgb(222, 163, 37);
    font-family: "Atma", system-ui;
}

.sword-fight
{
    background-image: url('../../ludo\ images/Center/sword-fight.png');
    background-size: 100% 100%;
}



/* Animations CSS */
.unfade
{
    animation: appear 1s forwards;
}

.fade{
    animation: disappear 1s forwards;
}

.make_it_appear
{
    animation-name: appear;
    animation-duration: 1s;
}

.make_it_disappear
{
    animation-name: disappear;
    animation-duration: 1s;
}

@keyframes appear
{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes disappear {
    0%{opacity: 1;}
    100%{opacity: 0;}
}



/* Main game adjustments for mobile Screens */
@media (min-width: 481px) and (max-width: 900px) {
    #main-box {
            /* filter: blur(0px); */
            display: grid;
            height: 97vh;
            width: 98%;
            margin-top: 0.3vh;
            grid-template: 1fr 1fr 0.9fr / 1fr 0.25fr;
            column-gap: 2vh
        }

        div>#game-ludo {
            grid-row: span 3;
            background-color: whitesmoke;
            background-image: url('../../ludo\ images/back.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border-radius: 15%;
            border: solid rgb(209, 101, 13) 1vh;
            margin: 1%;
            margin-right: 8%;
            margin-left: 4%;
            display: grid;
            grid-template: 1fr 0.6fr 1fr / 1fr 0.7fr 1fr;
        }

        div>.bead_1 {
            margin: 30% 25%;
            background-image: url('../../ludo\ images/Dice Beads/Bead 1.jpg');
            background-size: 100% 100% ;
            background-repeat: no-repeat;
        }
}