body
{
    background-color: rgba(11, 74, 158, 0.789);
    background-image: url('../../ludo\ images/traditional ludo image background with Indian touch 2.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.interrupt
{
    display: none;
}

#main-box
{
    /* filter: blur(0px); */
    display: grid;
    height: 95vh;
    width: 98%;
    margin-top: 2vh;
    grid-template: 1fr 1fr 0.9fr / 1fr 0.15fr;
}

div > #dicee
{
    grid-row: span 2;
    background-color: rgb(191, 191, 191);
    border-radius: 50%;
    margin-top: 10%;
    background-image: url('../../ludo\ images/Dice.png');
    background-size: cover;
    background-position: 40%;
    border: solid black;
    border-width: 0.5vh;
    display: flex;
    align-items: center; 
    justify-content: center;
}

div > .dice-numbers
{
    background-color: white;
    height: 48%;
    width: 60%;
    margin-bottom: 1.9%;
    margin-left: 2%;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
}

div>.bead_1 {
    margin: 69% 20%;
    grid-row: span 3;
    grid-column: span 2;
    background-image: url('../../ludo\ images/Dice Beads/Bead 1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div>.bead_2 {
    grid-row: span 3;
    grid-column: span 2;
    background-image: url('../../ludo\ images/Dice Beads/Bead 2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div>.bead_3 {
    grid-row: span 3;
    grid-column: span 2;
    background-image: url('../../ludo\ images/Dice Beads/Bead 3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div>.bead_4 {
    grid-row: span 3;
    grid-column: span 2;
    margin-top: 20%;
    background-image: url('../../ludo\ images/Dice Beads/Bead 4.jpg');
    background-size: 100% 90%;
    background-repeat: no-repeat;
}

div>.bead_5 {
    grid-row: span 3;
    grid-column: span 2;
    background-image: url('../../ludo\ images/Dice Beads/Bead 5.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div>.bead_6 {
    grid-row: span 3;
    grid-column: span 2;
    background-image: url('../../ludo\ images/Dice Beads/Bead 6.jpg');
    margin-bottom: 10%;
    margin-right: 3%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div > #play-button
{
    background-color: transparent;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

button#play
{
    height: 10vh;
    width: 60%;
    border-radius: 20%;
    margin-top: 20%;
    font-family: "Atma", system-ui;
    font-weight: 600;
    font-size: 250%;
}

button.play_butt
{
    height: 10vh;
    width: 60%;
    border-radius: 20%;
    margin-top: 20%;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.553);
}

button#play:hover
{
    background: linear-gradient(90deg, rgba(154, 222, 194, 1) 0%, rgba(238, 152, 12, 1) 100%);
}

div>#game-ludo {
    grid-row: span 3;
    background-color: whitesmoke;
    border-radius: 15%;
    margin: 1%;
}